---
import Layout from '../../layouts/Layout.astro';
import Video from '../Video.astro';
import Intro from '../Intro.astro';
import Bento from '../Bento.astro';
import Prefooter from '../Prefooter.astro';
import Footer from '../Footer.astro';

import { getI18n } from '../../i18n/index.ts'
const { currentLocale = "es" } = Astro
const i18n = getI18n({currentLocale})
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
	<Video />
	<main>
		<Intro />
		<Bento />
		<Prefooter />
	</main>
	<Footer />
</Layout>

<style>
	
</style>
