---
import "photoswipe/style.css"
import editionsInfo from "../data/meta-gallery.json"
import Button from "./Button.astro"


import { getI18n } from '../i18n/index.ts'

const { currentLocale = "es" } = Astro
const i18n = getI18n({ currentLocale })
---

<section class="max-w-8xl mx-auto py-20 px-20">
  <h2
    class="mx-auto mb-8 text-center text-3xl lg:text-6xl font-semibold tracking-wide"
  >
    {i18n.INFO.GALLERY_TITLE}
  </h2>
  <p class="text-center text-2xl">{i18n.INFO.GALLERY_TEXT}</p>

  <masonry-layout
    gap="24"
    maxcolwidth="600"
    class="mx-4 py-20 grid grid-cols-3 max-w-6xl gap-4"
    id="gallery"
  >
    {
      Array.from({length: 9}).map((_, i) => (
        <a
          class="group rounded-xl hover:scale-105 hover:contrast-[110%] transition-all relative"
          href={`/archivo-page/1/gallery/thumbnails/img-${i + 1}.webp`}
          target="_blank"
          data-cropped="true"
          data-pswp-width="1152"
          data-pswp-height="767"
        >
          <img
            class="rounded-xl aspect-square object-cover w-full h-auto"
            loading="lazy"
            src={`/archivo-page/1/gallery/thumbnails/img-${
              i + 1
            }.webp`}
            alt="Fotografía de los premios ESLAND"
          />
          <img
            class="blur-md aspect-square opacity-0 group-hover:opacity-100 absolute inset-0 transition contrast-150 -z-10 object-cover"
            loading="lazy"
            src={`/archivo-page/1/gallery/thumbnails/img-${
              i + 1
            }.webp`}
            alt="Imagen con efecto blur para hacer de sombra de una fotografía de los premios ESLAND"
          />
        </a>
      ))
    }
  </masonry-layout>

  <div class="text-center mx-auto">
    <Button id="load-more" url="#">Descúbrelas todas</Button>
  </div>
</section>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox"

  document.addEventListener("astro:page-load", () => {
    const lightbox = new PhotoSwipeLightbox({
      gallery: "#gallery",
      children: "a",
      pswpModule: () => import("photoswipe"),
    })

    lightbox.init()
  })
</script>



<style is:global>
  .pswp {
    --pswp-bg: #00012a;
  }

  #gallery a {
    cursor: zoom-in;
    animation: fade-up-images linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
  }

  @keyframes fade-up-images {
    0% {
      opacity: 0;
      translate: 0 50px;
      scale: .7;
    }
    100% {
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }

</style>