<div class="w-full relative">
  <img src="/logo-home.svg" class="absolute top-10 z-10 w-[800px] left-0 right-0 m-auto" alt="Esland - Premios a la comunidad hispanohablante de streaming">
  <video src="/video.webm" class="w-full h-screen object-cover object-top animate-fade duration-1000" style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 86%);" autoplay loop></video>
  <video src="/video.webm" class="absolute -bottom-48 blur-3xl -z-40" autoplay loop></video>
</div>
